<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<h2>Danh sách môn học</h2>

<% if @subjects.any? %>
  <table class="table table-striped table-bordered">
    <tr>
      <th><div class="col-md-12"><%= sortable "name", "Tên môn học" %></div></th>
      <th style="width: 185px"><div class="col-md-12">Thao tác</div></th>
    </tr>
    <%= render @subjects %>
  </table>

  <%= will_paginate @subjects %>
<% else %>
  <h3 style="center">Không có môn học nào trong hệ thống</h3>
<% end %>