<tr id="subject_<%= subject.id %>">
  <td><div class="col-md-12"><%= subject.subjectID %></div></td>
  <td><div class="col-md-12"><%= subject.name %></div></td>
  <td><div class="col-md-12"><%= subject.tc %></div></td>
  <td>
    <div class="col-md-12">
    <% if subject.species == "normal" %>
      <%= subject.lt %>
    <% end %>
    </div>
  </td>
  <td>
    <div class="col-md-12">
      <% if subject.species == "normal" %>
        <%= subject.bt %>
      <% end %>
    </div>
  </td>
  <td>
    <div class="col-md-12">
      <% if subject.species == "normal" %>
        Thường
      <% elsif subject.species == "project" %>
        Project
      <% end %>
    </div></td>
  <td>
    <div class="col-md-12">
      <%= link_to "Thay đổi", edit_admin_subject_path(subject), class: "btn btn-success" %>
      <%= link_to "Xóa", admin_subject_path(subject), method: :delete,
      class: "btn btn-danger", remote: true, data: {confirm: "Bạn thực sự muốn xóa thông tin môn học này?"} %>
    </div>
  </td>
</tr>
