<% provide :title, "Edit tecnicals" %>

<% if user_signed_in? %>
  <% content_for :left_info do %>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  <% end %>
<% end %>

<div class="col-md-12 col-md-offset-2">
  <div class="col-md-8 well">
    Name : <%= @user.name %>
    Email : <%= @user.email %>
  </div>

  <%= render 'form' %>

  <%= link_to "Back", :back %>
</div>