<% provide :title, "Show user info" %>

<% if user_signed_in? %>
  <% content_for :left_info do %>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  <% end %>
<% end %>

<div class="col-md-8 col-md-offset-2 well">
  <h2>Thông tin cá nhân giảng viên</h2>
  <div class="col-md-12">
    <label class="col-md-2">Học vị</label>
    <div class="col-md-2 form-control"><%= @user.degree %></div>
    <label class="col-md-2">Họ và tên</label>
    <div class="col-md-6 form-control"><%= @user.name %></div>
  </div>
  <div class="col-md-12">
    <label class="col-md-2">Email</label>
    <div class="col-md-10 form-control"><%= @user.email %></div>
  </div>
</div>

<div class="col-md-12">
  <% if user_signed_in? && @user.is_lecturer? %>
    <h2>Danh sách môn học đảm nhiệm</h2>

    <% if @subjects.any? %>
      <table class="table table-striped">
        <tr>
          <th style="width: 100px"><div class="col-md-12">Mã HP</div></th>
          <th><div class="col-md-12">Tên môn học</div></th>
          <th style="width: 40px"><div class="col-md-12">TC</div></th>
          <th style="width: 90px">Số giờ LT</th>
          <th style="width: 90px">Số giờ BT</th>
          <th style="width: 80px"><div class="col-md-12">Kiểu</div></th>
        </tr>
        <%= render @subjects %>
      </table>

      <%= will_paginate @subjects %>
    <% else %>
      <h4 align="center">Giảng viên không đảm nhiệm môn học nào.</h4>
    <% end %>
    <hr />
    <%= link_to "Thay đổi môn học đảm nhiệm", edit_user_path(@user) %>
  <% else %>
    <div class="col-md-8 col-md-offset-2 well">
      <h4>Bạn đăng nhập với tài khoản quản trị viên.</h4>
    </div>
  <% end %>
</div>
