<% provide :title, "Show lecturer" %>

<% if user_signed_in? %>
  <% content_for :left_info do %>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  <% end %>
<% end %>

Username : <%= @user.name %>
Email : <%= @user.email %>

<h2>Danh sách môn học đảm nhiệm</h2>

<% if @subjects.any? %>
  <table class="table table-striped">
    <tr>
      <th><div class="col-md-12">Tên môn học</div></th>
    </tr>
    <%= render @subjects %>
  </table>

  <%= will_paginate @subjects %>
<% else %>
  <h4 style="center">Giảng viên không đảm nhiệm môn học nào.</h4>
<% end %>

<%= link_to "edit subject", edit_user_path(@user) %>