<% provide :title, "Home pages" %>

<% if user_signed_in? %>
  <% content_for :left_info do %>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  <% end %>
<% end %>

<% if user_signed_in? && current_user.is_admin? %>
  <div class="center jumbotron">
    <h2>Bạn đã đăng nhập với tài khoản quản trị viên</h2>
  </div>
  
<% elsif user_signed_in? %>
  <div class="col-md-6 col-md-offset-2 well">
    <div class="col-md-8">
      <label>Học kỳ hiện tại</label>
    </div>
    <div class="col-md-4">
       <b><%= @term %></b>
    </div>
  </div>
  <div class="col-md-12">
    <h3 align="center">Phân công lớp học</h3>
    <% if @asigned.any? %>
      Bạn có <b><%= @asigned.count %></b> lớp học mới được phân công.<br />
      <%= link_to "Xem chi tiết", user_courses_path(current_user, type: 'new_assigned') %>
    <% else %>
      Không có lớp học nào mới được phân công.
    <% end %>
    <hr />
  </div>
  <div class="col-md-12">
    <h3 align="center">Thống kê hoạt động</h3>
    <h4>Lớp học đảm nhiệm</h4>
    <% if @accepted.any? %>
      <%= render 'list_accepted' %>
      <%= will_paginate @accepted %>
    <% else %>
      Bạn chưa đảm nhiệm môn học nào trong học kỳ.
    <% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h2>Hãy đăng nhập để sử dụng hệ thống</h2>
  </div>
<% end %>
