<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<% if params[:user_id] %>
  <h2>Danh sách môn học đảm nhiệm</h2>
<% else %>
  <h2>Danh sách môn học</h2>
<% end %>

<% if @subjects.any? %>
  <table class="table table-striped">
    <tr>
      <th><div class="col-md-12"><%= sortable "name", "Tên môn học" %></div></th>
    </tr>
    <%= render @subjects %>
  </table>

  <%= will_paginate @subjects %>
<% else %>
  <h3 style="center">Không có môn học nào trong hệ thống</h3>
<% end %>
