<% unless current_user == user && current_user.is_admin? %>
  <tr id="user_<%= user.id %>">
    <td>
      <div class="col-md-12">
        <% if user.avatar.blank? %>
          <%= image_tag "default-user.png", size: "32x32", alt: "User", class: "img-rounded" %>
        <% else %>
          <%= image_tag user.avatar, size: "32x32", alt: "User", class: "img-rounded" %>
        <% end %>
      </div>
    </td>
    <td><div class="col-md-12"><%= user.degree %></div></td>
    <td><div class="col-md-12"><%= link_to user.name, admin_user_path(user) %></div></td>
    <td><div class="col-md-12"><%= user.email %></div></td>
    <td>
      <div class="col-md-12">
        <%= link_to "delete", admin_user_path(user), method: :delete,
        class: "btn btn-danger", remote: true, data: {confirm: "Bạn thực sự muốn xóa thông tin giảng viên này?"} %>
      </div>
    </td>
  </tr>
<% end %>
