<% provide :title, "Create user" %>
<h2>Thêm giảng viên mới</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @user] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :email, "Email đăng nhập" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :name, "Họ tên giảng viên" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password, "Mật khẩu" %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

      <%= f.label :password_confirmation, "Xác nhận mật khẩu" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      <hr />
    
      <%= f.submit "Thêm mới", class: "btn btn-primary" %>
      <hr />
    <% end %>
  </div>
</div>
