<div class="col-md-12">
  <%= form_tag admin_courses_path, method: 'get', id: "courses_search" do %>
    
      <div class="col-md-8 well">
        <div class="col-md-2">
          <label>Tìm kiếm</label>
        </div>
        <div class="col-md-4">
          <%= text_field_tag :search, params[:search], placeholder: 'Tìm kiếm bằng tên ...' ,class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <label>Học kỳ</label>
        </div>
        <div class="col-md-2">
          <%= text_field_tag :term, params[:term], value: @term.current, class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= submit_tag "Tìm kiếm", class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="col-md-4 well">
        <div class="col-md-8">
          <label>Học kỳ hiện tại</label>
        </div>
        <div class="col-md-4"><b><div class="form-control"><%= @term.current %></div></b></div>
      </div>
  <% end %>
  <div class="col-md-12">
    <div id="courses_div"><%= render 'list_courses' %></div>
  </div>
</div>

<div class="col-md-12"><%= link_to "Thêm môn học mới", new_admin_subject_path %></div>
