<table class="table table-striped table-bordered">
  <tr>
    <th><div class="col-md-12">SID</div></th>
    <th><div class="col-md-12">CID</div></th>
    <th><div class="col-md-12">Ma HP</div></th>
    <th><div class="col-md-12">Ma lop</div></th>
    <th><div class="col-md-12">Ten lop</div></th>
    <th style="width: 200px;"><div class="col-md-12">Phan cong</div></th>
    <th style="width: 200px;"><div class="col-md-12">Giang vien</div></th>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.subject_id %></td>
      <td><%= course.id %></td>
      <td><%= course.subject.subjectID %></td>
      <td><%= course.courseID %></td>
      <td><%= link_to course.subject.name, edit_admin_course_path(course) %></td>
      <td>
        <% if course.user_rejected %> 
          <% @rejected_user = course.user_rejected.split(",").map(&:to_i) %>
        <% else %>
          <% @rejected_user = [] %>
        <% end %>
        <%= form_for [:admin, course], {method: :put, remote: true} do |f| %>
          <%= f.hidden_field :division_state, value: 'ongoing' %>
          <%= f.hidden_field :user_confirm, value: 'waiting' %>
          <%= f.select :user_id, User.un_rejected(@rejected_user).teaching(course.subject.id).collect{|s| [s.name, s.id]}, {}, {class: 'select-one form-control'} %>
          <%= f.submit "Submit", class: 'btn btn-primary btn-small' %>
        <% end %>
      </td>
      <td id="division_course_<%= course.id %>">
        <% if course.user_confirm == "rejected" || course.user_id.blank? %>
          Chua phan giang vien
        <% else %>
          <%= course.user.name %>
        <% end %>
      </td>
    </tr>
   <% end %>
</table>
